.menu {
    background-color: azure;
}
.main {
    background-color: antiquewhite;
}
.menu ul {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
menu li {
    display: inline-block;
    text-align: center;
}
menu li a {
    display: inline-block;
    height: auto;
    width: 150px;
    color: #333;
    background-color: lemonchiffon;
    padding: 10px;
    margin: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.menu li a:hover {
    background-color: aquamarine;
}
.footer ul {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer li {
    display: inline-block;
    text-align: center;
}
footer li a {
    display: inline-block;
    height: auto;
    width: 150px;
    color: #333;
    background-color: lemonchiffon;
    padding: 10px;
    margin: 4px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.footer li a:hover {
    background-color: aquamarine;
}